fieldset.search-by
  label.form-label Buscar por XXXXXXXX:
  .input-group.input-group-sm
    input.form-control.border-end-0#search-by(name='search-by' type='search' placeholder='Buscar...')
    i.input-group-text.bg-white.border-start-0.material-symbols-outlined search