@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?36dvv2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?36dvv2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?36dvv2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cpa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cpa-icon-download {
  &:before {
    content: $cpa-icon-download; 
  }
}
.cpa-icon-not-upload {
  &:before {
    content: $cpa-icon-not-upload; 
  }
}
.cpa-icon-create-profile {
  &:before {
    content: $cpa-icon-create-profile; 
  }
}
.cpa-icon-disabling-profile {
  &:before {
    content: $cpa-icon-disabling-profile; 
  }
}
.cpa-icon-enabling-profile {
  &:before {
    content: $cpa-icon-enabling-profile; 
  }
}
.cpa-icon-remove-profile {
  &:before {
    content: $cpa-icon-remove-profile; 
  }
}
.cpa-icon-file-info1 {
  &:before {
    content: $cpa-icon-file-info1; 
  }
}
.cpa-icon-upload {
  &:before {
    content: $cpa-icon-upload; 
  }
}
.cpa-icon-create-module {
  &:before {
    content: $cpa-icon-create-module; 
  }
}
.cpa-icon-x {
  &:before {
    content: $cpa-icon-x; 
  }
}
.cpa-icon-remove-module {
  &:before {
    content: $cpa-icon-remove-module; 
  }
}
.cpa-icon-access .path1 {
  &:before {
    content: $cpa-icon-access-path1;  
    color: rgb(118, 164, 216);
  }
}
.cpa-icon-access .path2 {
  &:before {
    content: $cpa-icon-access-path2;  
    margin-left: -1em;  
    color: rgb(123, 140, 193);
  }
}
.cpa-icon-access .path3 {
  &:before {
    content: $cpa-icon-access-path3;  
    margin-left: -1em;  
    color: rgb(76, 109, 167);
  }
}
.cpa-icon-access .path4 {
  &:before {
    content: $cpa-icon-access-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.cpa-icon-access .path5 {
  &:before {
    content: $cpa-icon-access-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.cpa-icon-access .path6 {
  &:before {
    content: $cpa-icon-access-path6;  
    margin-left: -1em;  
    color: rgb(76, 109, 167);
  }
}
.cpa-icon-access .path7 {
  &:before {
    content: $cpa-icon-access-path7;  
    margin-left: -1em;  
    color: rgb(76, 109, 167);
  }
}
.cpa-icon-refresh {
  &:before {
    content: $cpa-icon-refresh; 
  }
}
.cpa-icon-refresh-circle {
  &:before {
    content: $cpa-icon-refresh-circle; 
  }
}
.cpa-icon-arrow-down {
  &:before {
    content: $cpa-icon-arrow-down; 
  }
}
.cpa-icon-arrow-up {
  &:before {
    content: $cpa-icon-arrow-up; 
  }
}
.cpa-icon-return {
  &:before {
    content: $cpa-icon-return; 
  }
}
.cpa-icon-forward {
  &:before {
    content: $cpa-icon-forward; 
  }
}
.cpa-icon-change {
  &:before {
    content: $cpa-icon-change; 
  }
}
.cpa-icon-target {
  &:before {
    content: $cpa-icon-target; 
  }
}
.cpa-icon-exchange {
  &:before {
    content: $cpa-icon-exchange; 
  }
}
.cpa-icon-monitor {
  &:before {
    content: $cpa-icon-monitor; 
  }
}
.cpa-icon-capacitacion {
  &:before {
    content: $cpa-icon-capacitacion; 
  }
}
.cpa-icon-videos {
  &:before {
    content: $cpa-icon-videos; 
  }
}
.cpa-icon-pageview {
  &:before {
    content: $cpa-icon-pageview; 
  }
}
.cpa-icon-search {
  &:before {
    content: $cpa-icon-search; 
  }
}
.cpa-icon-filter {
  &:before {
    content: $cpa-icon-filter; 
  }
}
.cpa-icon-log {
  &:before {
    content: $cpa-icon-log; 
  }
}
.cpa-icon-schedule {
  &:before {
    content: $cpa-icon-schedule; 
  }
}
.cpa-icon-history {
  &:before {
    content: $cpa-icon-history; 
  }
}
.cpa-icon-update {
  &:before {
    content: $cpa-icon-update; 
  }
}
.cpa-icon-date-range {
  &:before {
    content: $cpa-icon-date-range; 
  }
}
.cpa-icon-calendar {
  &:before {
    content: $cpa-icon-calendar; 
  }
}
.cpa-icon-calendar-2 {
  &:before {
    content: $cpa-icon-calendar-2; 
  }
}
.cpa-icon-file-info {
  &:before {
    content: $cpa-icon-file-info; 
  }
}
.cpa-icon-file-info-filled {
  &:before {
    content: $cpa-icon-file-info-filled; 
  }
}
.cpa-icon-note-add {
  &:before {
    content: $cpa-icon-note-add; 
  }
}
.cpa-icon-quick-reference-all {
  &:before {
    content: $cpa-icon-quick-reference-all; 
  }
}
.cpa-icon-sim-card-download {
  &:before {
    content: $cpa-icon-sim-card-download; 
  }
}
.cpa-icon-upload-file {
  &:before {
    content: $cpa-icon-upload-file; 
  }
}
.cpa-icon-comapare-filled {
  &:before {
    content: $cpa-icon-comapare-filled; 
  }
}
.cpa-icon-compare-outline {
  &:before {
    content: $cpa-icon-compare-outline; 
  }
}
.cpa-icon-sticky-note-alt {
  &:before {
    content: $cpa-icon-sticky-note-alt; 
  }
}
.cpa-icon-library-notes {
  &:before {
    content: $cpa-icon-library-notes; 
  }
}
.cpa-icon-document-scanner {
  &:before {
    content: $cpa-icon-document-scanner; 
  }
}
.cpa-icon-manuals {
  &:before {
    content: $cpa-icon-manuals; 
  }
}
.cpa-icon-drive-folder-upload {
  &:before {
    content: $cpa-icon-drive-folder-upload; 
  }
}
.cpa-icon-assignament {
  &:before {
    content: $cpa-icon-assignament; 
  }
}
.cpa-icon-assignament-filled {
  &:before {
    content: $cpa-icon-assignament-filled; 
  }
}
.cpa-icon-comments-disabled {
  &:before {
    content: $cpa-icon-comments-disabled; 
  }
}
.cpa-icon-file-40 {
  &:before {
    content: $cpa-icon-file-40; 
  }
}
.cpa-icon-file-csv {
  &:before {
    content: $cpa-icon-file-csv; 
  }
}
.cpa-icon-file-cvs {
  &:before {
    content: $cpa-icon-file-cvs; 
  }
}
.cpa-icon-file-dll {
  &:before {
    content: $cpa-icon-file-dll; 
  }
}
.cpa-icon-file-doc {
  &:before {
    content: $cpa-icon-file-doc; 
  }
}
.cpa-icon-file-exe {
  &:before {
    content: $cpa-icon-file-exe; 
  }
}
.cpa-icon-file-html {
  &:before {
    content: $cpa-icon-file-html; 
  }
}
.cpa-icon-file-img {
  &:before {
    content: $cpa-icon-file-img; 
  }
}
.cpa-icon-file-jpg {
  &:before {
    content: $cpa-icon-file-jpg; 
  }
}
.cpa-icon-file-key {
  &:before {
    content: $cpa-icon-file-key; 
  }
}
.cpa-icon-file-mov {
  &:before {
    content: $cpa-icon-file-mov; 
  }
}
.cpa-icon-file-mp3 {
  &:before {
    content: $cpa-icon-file-mp3; 
  }
}
.cpa-icon-file-mp4 {
  &:before {
    content: $cpa-icon-file-mp4; 
  }
}
.cpa-icon-file-pdf {
  &:before {
    content: $cpa-icon-file-pdf; 
  }
}
.cpa-icon-file-png {
  &:before {
    content: $cpa-icon-file-png; 
  }
}
.cpa-icon-file-ppt {
  &:before {
    content: $cpa-icon-file-ppt; 
  }
}
.cpa-icon-file-rar {
  &:before {
    content: $cpa-icon-file-rar; 
  }
}
.cpa-icon-file-sat {
  &:before {
    content: $cpa-icon-file-sat; 
  }
}
.cpa-icon-file-sql {
  &:before {
    content: $cpa-icon-file-sql; 
  }
}
.cpa-icon-file-txt {
  &:before {
    content: $cpa-icon-file-txt; 
  }
}
.cpa-icon-file-xls {
  &:before {
    content: $cpa-icon-file-xls; 
  }
}
.cpa-icon-file-xml {
  &:before {
    content: $cpa-icon-file-xml; 
  }
}
.cpa-icon-file-zip {
  &:before {
    content: $cpa-icon-file-zip; 
  }
}
.cpa-icon-whatsapp {
  &:before {
    content: $cpa-icon-whatsapp; 
  }
}
.cpa-icon-sat-estatus {
  &:before {
    content: $cpa-icon-sat-estatus; 
  }
}
.cpa-icon-cpa-product-change {
  &:before {
    content: $cpa-icon-cpa-product-change; 
  }
}
.cpa-icon-envelope {
  &:before {
    content: $cpa-icon-envelope; 
  }
}
.cpa-icon-forward-to-inbox {
  &:before {
    content: $cpa-icon-forward-to-inbox; 
  }
}
.cpa-icon-sms {
  &:before {
    content: $cpa-icon-sms; 
  }
}
.cpa-icon-user-circle {
  &:before {
    content: $cpa-icon-user-circle; 
  }
}
.cpa-icon-user {
  &:before {
    content: $cpa-icon-user; 
  }
}
.cpa-icon-group {
  &:before {
    content: $cpa-icon-group; 
  }
}
.cpa-icon-badge {
  &:before {
    content: $cpa-icon-badge; 
  }
}
.cpa-icon-contact-email {
  &:before {
    content: $cpa-icon-contact-email; 
  }
}
.cpa-icon-contacts {
  &:before {
    content: $cpa-icon-contacts; 
  }
}
.cpa-icon-list {
  &:before {
    content: $cpa-icon-list; 
  }
}
.cpa-icon-edit-note {
  &:before {
    content: $cpa-icon-edit-note; 
  }
}
.cpa-icon-pencil {
  &:before {
    content: $cpa-icon-pencil; 
  }
}
.cpa-icon-preview {
  &:before {
    content: $cpa-icon-preview; 
  }
}
.cpa-icon-visibility {
  &:before {
    content: $cpa-icon-visibility; 
  }
}
.cpa-icon-print {
  &:before {
    content: $cpa-icon-print; 
  }
}
.cpa-icon-settings {
  &:before {
    content: $cpa-icon-settings; 
  }
}
.cpa-icon-settings-applications {
  &:before {
    content: $cpa-icon-settings-applications; 
  }
}
.cpa-icon-top-panel-open {
  &:before {
    content: $cpa-icon-top-panel-open; 
  }
}
.cpa-icon-circle {
  &:before {
    content: $cpa-icon-circle; 
  }
}
.cpa-icon-cloud-download {
  &:before {
    content: $cpa-icon-cloud-download; 
  }
}
.cpa-icon-cloud-off {
  &:before {
    content: $cpa-icon-cloud-off; 
  }
}
.cpa-icon-cloud-upload {
  &:before {
    content: $cpa-icon-cloud-upload; 
  }
}
.cpa-icon-dashboard {
  &:before {
    content: $cpa-icon-dashboard; 
  }
}
.cpa-icon-pay {
  &:before {
    content: $cpa-icon-pay; 
  }
}
.cpa-icon-news {
  &:before {
    content: $cpa-icon-news; 
  }
}
.cpa-icon-keys {
  &:before {
    content: $cpa-icon-keys; 
  }
}
.cpa-icon-dev-outline {
  &:before {
    content: $cpa-icon-dev-outline; 
  }
}
.cpa-icon-dev-filled {
  &:before {
    content: $cpa-icon-dev-filled; 
  }
}
.cpa-icon-call {
  &:before {
    content: $cpa-icon-call; 
  }
}
.cpa-icon-exit {
  &:before {
    content: $cpa-icon-exit; 
  }
}
.cpa-icon-like {
  &:before {
    content: $cpa-icon-like; 
  }
}
.cpa-icon-delete {
  &:before {
    content: $cpa-icon-delete; 
  }
}
.cpa-icon-delete-2 {
  &:before {
    content: $cpa-icon-delete-2; 
  }
}
.cpa-icon-check {
  &:before {
    content: $cpa-icon-check; 
  }
}
.cpa-icon-check-circle {
  &:before {
    content: $cpa-icon-check-circle; 
  }
}
.cpa-icon-check-circle-outline {
  &:before {
    content: $cpa-icon-check-circle-outline; 
  }
}
.cpa-icon-add-task {
  &:before {
    content: $cpa-icon-add-task; 
  }
}
.cpa-icon-cancel-circle-filled {
  &:before {
    content: $cpa-icon-cancel-circle-filled; 
  }
}
.cpa-icon-x-circle {
  &:before {
    content: $cpa-icon-x-circle; 
  }
}
.cpa-icon-x-square {
  &:before {
    content: $cpa-icon-x-square; 
  }
}
.cpa-icon-minus-circle {
  &:before {
    content: $cpa-icon-minus-circle; 
  }
}
.cpa-icon-forbidden {
  &:before {
    content: $cpa-icon-forbidden; 
  }
}
.cpa-icon-disabled-visible {
  &:before {
    content: $cpa-icon-disabled-visible; 
  }
}
.cpa-icon-add-circle {
  &:before {
    content: $cpa-icon-add-circle; 
  }
}
.cpa-icon-report {
  &:before {
    content: $cpa-icon-report; 
  }
}
.cpa-icon-warning-amber {
  &:before {
    content: $cpa-icon-warning-amber; 
  }
}
.cpa-icon-exclamation-circle-filled {
  &:before {
    content: $cpa-icon-exclamation-circle-filled; 
  }
}
.cpa-icon-info {
  &:before {
    content: $cpa-icon-info; 
  }
}
.cpa-icon-pending {
  &:before {
    content: $cpa-icon-pending; 
  }
}
.cpa-icon-help {
  &:before {
    content: $cpa-icon-help; 
  }
}
.cpa-icon-notification {
  &:before {
    content: $cpa-icon-notification; 
  }
}

