extends ../fragments/page.pug
include ../mixins/panel.pug

block vars
  - title = "CFDI's Ingresos Vigentes"

block content
  include ../fragments/menus.pug
  - 
    breadcrumbLinks = [
      ['#', 'Inicio'],
      ['#', 'Ingresos'],
      ['./ingresos-empresa.html', 'Resumen por Empresa']
    ];

  +panel("CFDI's Ingresos Vigentes", breadcrumbLinks, panelLinks)
