@font-face {
  font-family: 'cpa-icons';
  src:
    url('fonts/cpa-icons.ttf?36dvv2') format('truetype'),
    url('fonts/cpa-icons.woff?36dvv2') format('woff'),
    url('fonts/cpa-icons.svg?36dvv2#cpa-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cpa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cpa-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cpa-icon-download:before {
  content: "\e945";
}
.cpa-icon-not-upload:before {
  content: "\e946";
}
.cpa-icon-create-profile:before {
  content: "\e97c";
}
.cpa-icon-disabling-profile:before {
  content: "\e97d";
}
.cpa-icon-enabling-profile:before {
  content: "\e97e";
}
.cpa-icon-remove-profile:before {
  content: "\e97f";
}
.cpa-icon-file-info1:before {
  content: "\e980";
}
.cpa-icon-upload:before {
  content: "\e981";
}
.cpa-icon-create-module:before {
  content: "\e982";
}
.cpa-icon-x:before {
  content: "\e983";
}
.cpa-icon-remove-module:before {
  content: "\e984";
}
.cpa-icon-access .path1:before {
  content: "\e900";
  color: rgb(118, 164, 216);
}
.cpa-icon-access .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(123, 140, 193);
}
.cpa-icon-access .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(76, 109, 167);
}
.cpa-icon-access .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cpa-icon-access .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cpa-icon-access .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(76, 109, 167);
}
.cpa-icon-access .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(76, 109, 167);
}
.cpa-icon-refresh:before {
  content: "\e907";
}
.cpa-icon-refresh-circle:before {
  content: "\e908";
}
.cpa-icon-arrow-down:before {
  content: "\e909";
}
.cpa-icon-arrow-up:before {
  content: "\e90a";
}
.cpa-icon-return:before {
  content: "\e90b";
}
.cpa-icon-forward:before {
  content: "\e90c";
}
.cpa-icon-change:before {
  content: "\e90d";
}
.cpa-icon-target:before {
  content: "\e90e";
}
.cpa-icon-exchange:before {
  content: "\e90f";
}
.cpa-icon-monitor:before {
  content: "\e910";
}
.cpa-icon-capacitacion:before {
  content: "\e911";
}
.cpa-icon-videos:before {
  content: "\e912";
}
.cpa-icon-pageview:before {
  content: "\e913";
}
.cpa-icon-search:before {
  content: "\e914";
}
.cpa-icon-filter:before {
  content: "\e915";
}
.cpa-icon-log:before {
  content: "\e916";
}
.cpa-icon-schedule:before {
  content: "\e917";
}
.cpa-icon-history:before {
  content: "\e918";
}
.cpa-icon-update:before {
  content: "\e919";
}
.cpa-icon-date-range:before {
  content: "\e91a";
}
.cpa-icon-calendar:before {
  content: "\e91b";
}
.cpa-icon-calendar-2:before {
  content: "\e91c";
}
.cpa-icon-file-info:before {
  content: "\e91d";
}
.cpa-icon-file-info-filled:before {
  content: "\e91e";
}
.cpa-icon-note-add:before {
  content: "\e91f";
}
.cpa-icon-quick-reference-all:before {
  content: "\e920";
}
.cpa-icon-sim-card-download:before {
  content: "\e921";
}
.cpa-icon-upload-file:before {
  content: "\e922";
}
.cpa-icon-comapare-filled:before {
  content: "\e923";
}
.cpa-icon-compare-outline:before {
  content: "\e924";
}
.cpa-icon-sticky-note-alt:before {
  content: "\e925";
}
.cpa-icon-library-notes:before {
  content: "\e926";
}
.cpa-icon-document-scanner:before {
  content: "\e927";
}
.cpa-icon-manuals:before {
  content: "\e928";
}
.cpa-icon-drive-folder-upload:before {
  content: "\e929";
}
.cpa-icon-assignament:before {
  content: "\e92a";
}
.cpa-icon-assignament-filled:before {
  content: "\e92b";
}
.cpa-icon-comments-disabled:before {
  content: "\e92c";
}
.cpa-icon-file-40:before {
  content: "\e92d";
}
.cpa-icon-file-csv:before {
  content: "\e92e";
}
.cpa-icon-file-cvs:before {
  content: "\e92f";
}
.cpa-icon-file-dll:before {
  content: "\e930";
}
.cpa-icon-file-doc:before {
  content: "\e931";
}
.cpa-icon-file-exe:before {
  content: "\e932";
}
.cpa-icon-file-html:before {
  content: "\e933";
}
.cpa-icon-file-img:before {
  content: "\e934";
}
.cpa-icon-file-jpg:before {
  content: "\e935";
}
.cpa-icon-file-key:before {
  content: "\e936";
}
.cpa-icon-file-mov:before {
  content: "\e937";
}
.cpa-icon-file-mp3:before {
  content: "\e938";
}
.cpa-icon-file-mp4:before {
  content: "\e939";
}
.cpa-icon-file-pdf:before {
  content: "\e93a";
}
.cpa-icon-file-png:before {
  content: "\e93b";
}
.cpa-icon-file-ppt:before {
  content: "\e93c";
}
.cpa-icon-file-rar:before {
  content: "\e93d";
}
.cpa-icon-file-sat:before {
  content: "\e93e";
}
.cpa-icon-file-sql:before {
  content: "\e93f";
}
.cpa-icon-file-txt:before {
  content: "\e940";
}
.cpa-icon-file-xls:before {
  content: "\e941";
}
.cpa-icon-file-xml:before {
  content: "\e942";
}
.cpa-icon-file-zip:before {
  content: "\e943";
}
.cpa-icon-whatsapp:before {
  content: "\e944";
}
.cpa-icon-sat-estatus:before {
  content: "\e947";
}
.cpa-icon-cpa-product-change:before {
  content: "\e948";
}
.cpa-icon-envelope:before {
  content: "\e949";
}
.cpa-icon-forward-to-inbox:before {
  content: "\e94a";
}
.cpa-icon-sms:before {
  content: "\e94b";
}
.cpa-icon-user-circle:before {
  content: "\e94c";
}
.cpa-icon-user:before {
  content: "\e94d";
}
.cpa-icon-group:before {
  content: "\e94e";
}
.cpa-icon-badge:before {
  content: "\e94f";
}
.cpa-icon-contact-email:before {
  content: "\e950";
}
.cpa-icon-contacts:before {
  content: "\e951";
}
.cpa-icon-list:before {
  content: "\e952";
}
.cpa-icon-edit-note:before {
  content: "\e953";
}
.cpa-icon-pencil:before {
  content: "\e954";
}
.cpa-icon-preview:before {
  content: "\e955";
}
.cpa-icon-visibility:before {
  content: "\e956";
}
.cpa-icon-print:before {
  content: "\e957";
}
.cpa-icon-settings:before {
  content: "\e958";
}
.cpa-icon-settings-applications:before {
  content: "\e959";
}
.cpa-icon-top-panel-open:before {
  content: "\e95a";
}
.cpa-icon-circle:before {
  content: "\e95b";
}
.cpa-icon-cloud-download:before {
  content: "\e95c";
}
.cpa-icon-cloud-off:before {
  content: "\e95d";
}
.cpa-icon-cloud-upload:before {
  content: "\e95e";
}
.cpa-icon-dashboard:before {
  content: "\e95f";
}
.cpa-icon-pay:before {
  content: "\e960";
}
.cpa-icon-news:before {
  content: "\e961";
}
.cpa-icon-keys:before {
  content: "\e962";
}
.cpa-icon-dev-outline:before {
  content: "\e963";
}
.cpa-icon-dev-filled:before {
  content: "\e964";
}
.cpa-icon-call:before {
  content: "\e965";
}
.cpa-icon-exit:before {
  content: "\e966";
}
.cpa-icon-like:before {
  content: "\e967";
}
.cpa-icon-delete:before {
  content: "\e968";
}
.cpa-icon-delete-2:before {
  content: "\e969";
}
.cpa-icon-check:before {
  content: "\e96a";
}
.cpa-icon-check-circle:before {
  content: "\e96b";
}
.cpa-icon-check-circle-outline:before {
  content: "\e96c";
}
.cpa-icon-add-task:before {
  content: "\e96d";
}
.cpa-icon-cancel-circle-filled:before {
  content: "\e96e";
}
.cpa-icon-x-circle:before {
  content: "\e96f";
}
.cpa-icon-x-square:before {
  content: "\e970";
}
.cpa-icon-minus-circle:before {
  content: "\e971";
}
.cpa-icon-forbidden:before {
  content: "\e972";
}
.cpa-icon-disabled-visible:before {
  content: "\e973";
}
.cpa-icon-add-circle:before {
  content: "\e974";
}
.cpa-icon-report:before {
  content: "\e975";
}
.cpa-icon-warning-amber:before {
  content: "\e976";
}
.cpa-icon-exclamation-circle-filled:before {
  content: "\e977";
}
.cpa-icon-info:before {
  content: "\e978";
}
.cpa-icon-pending:before {
  content: "\e979";
}
.cpa-icon-help:before {
  content: "\e97a";
}
.cpa-icon-notification:before {
  content: "\e97b";
}
