$icomoon-font-family: "cpa-icons" !default;
$icomoon-font-path: "fonts" !default;

$cpa-icon-ingresos: unquote('"\\e995"');
$cpa-icon-deducciones: unquote('"\\e996"');
$cpa-icon-nomina: unquote('"\\e997"');
$cpa-icon-retenciones: unquote('"\\e998"');
$cpa-icon-complementos-pago: unquote('"\\e999"');
$cpa-icon-cfdis: unquote('"\\e99a"');
$cpa-icon-cfdis-nominas: unquote('"\\e99b"');
$cpa-icon-ingresos-plus: unquote('"\\e99c"');
$cpa-icon-salud-financiera: unquote('"\\e99d"');
$cpa-icon-minus-circle: unquote('"\\e994"');
$cpa-icon-chevron-circle-down: unquote('"\\e98a"');
$cpa-icon-chevron-circle-up: unquote('"\\e98b"');
$cpa-icon-chevron-circle-right: unquote('"\\e98c"');
$cpa-icon-chevron-circle-left: unquote('"\\e98d"');
$cpa-icon-keyboard-o: unquote('"\\e988"');
$cpa-icon-radio-unchecked: unquote('"\\e992"');
$cpa-icon-radio-checked: unquote('"\\e993"');
$cpa-icon-pin: unquote('"\\e900"');
$cpa-icon-pin-circle: unquote('"\\e901"');
$cpa-icon-circle-left: unquote('"\\e98e"');
$cpa-icon-circle-right: unquote('"\\e98f"');
$cpa-icon-circle-up: unquote('"\\e990"');
$cpa-icon-circle-down: unquote('"\\e991"');
$cpa-icon-zoom-in: unquote('"\\e985"');
$cpa-icon-plus: unquote('"\\e986"');
$cpa-icon-eye-plus: unquote('"\\e987"');
$cpa-icon-password: unquote('"\\e989"');
$cpa-icon-download: unquote('"\\e945"');
$cpa-icon-not-upload: unquote('"\\e946"');
$cpa-icon-create-profile: unquote('"\\e97c"');
$cpa-icon-disabling-profile: unquote('"\\e97d"');
$cpa-icon-enabling-profile: unquote('"\\e97e"');
$cpa-icon-remove-profile: unquote('"\\e97f"');
$cpa-icon-file-info1: unquote('"\\e980"');
$cpa-icon-upload: unquote('"\\e981"');
$cpa-icon-create-module: unquote('"\\e982"');
$cpa-icon-x: unquote('"\\e983"');
$cpa-icon-remove-module: unquote('"\\e984"');
$cpa-icon-refresh: unquote('"\\e907"');
$cpa-icon-refresh-circle: unquote('"\\e908"');
$cpa-icon-arrow-down: unquote('"\\e909"');
$cpa-icon-arrow-up: unquote('"\\e90a"');
$cpa-icon-return: unquote('"\\e90b"');
$cpa-icon-forward: unquote('"\\e90c"');
$cpa-icon-change: unquote('"\\e90d"');
$cpa-icon-target: unquote('"\\e90e"');
$cpa-icon-exchange: unquote('"\\e90f"');
$cpa-icon-monitor: unquote('"\\e910"');
$cpa-icon-capacitacion: unquote('"\\e911"');
$cpa-icon-videos: unquote('"\\e912"');
$cpa-icon-pageview: unquote('"\\e913"');
$cpa-icon-search: unquote('"\\e914"');
$cpa-icon-filter: unquote('"\\e915"');
$cpa-icon-log: unquote('"\\e916"');
$cpa-icon-schedule: unquote('"\\e917"');
$cpa-icon-history: unquote('"\\e918"');
$cpa-icon-update: unquote('"\\e919"');
$cpa-icon-date-range: unquote('"\\e91a"');
$cpa-icon-calendar: unquote('"\\e91b"');
$cpa-icon-calendar-2: unquote('"\\e91c"');
$cpa-icon-file-info: unquote('"\\e91d"');
$cpa-icon-file-info-filled: unquote('"\\e91e"');
$cpa-icon-note-add: unquote('"\\e91f"');
$cpa-icon-quick-reference-all: unquote('"\\e920"');
$cpa-icon-sim-card-download: unquote('"\\e921"');
$cpa-icon-upload-file: unquote('"\\e922"');
$cpa-icon-comapare-filled: unquote('"\\e923"');
$cpa-icon-compare-outline: unquote('"\\e924"');
$cpa-icon-sticky-note-alt: unquote('"\\e925"');
$cpa-icon-library-notes: unquote('"\\e926"');
$cpa-icon-document-scanner: unquote('"\\e927"');
$cpa-icon-manuals: unquote('"\\e928"');
$cpa-icon-drive-folder-upload: unquote('"\\e929"');
$cpa-icon-assignament: unquote('"\\e92a"');
$cpa-icon-assignament-filled: unquote('"\\e92b"');
$cpa-icon-comments-disabled: unquote('"\\e92c"');
$cpa-icon-file-40: unquote('"\\e92d"');
$cpa-icon-file-csv: unquote('"\\e92e"');
$cpa-icon-file-cvs: unquote('"\\e92f"');
$cpa-icon-file-dll: unquote('"\\e930"');
$cpa-icon-file-doc: unquote('"\\e931"');
$cpa-icon-file-exe: unquote('"\\e932"');
$cpa-icon-file-html: unquote('"\\e933"');
$cpa-icon-file-img: unquote('"\\e934"');
$cpa-icon-file-jpg: unquote('"\\e935"');
$cpa-icon-file-key: unquote('"\\e936"');
$cpa-icon-file-mov: unquote('"\\e937"');
$cpa-icon-file-mp3: unquote('"\\e938"');
$cpa-icon-file-mp4: unquote('"\\e939"');
$cpa-icon-file-pdf: unquote('"\\e93a"');
$cpa-icon-file-png: unquote('"\\e93b"');
$cpa-icon-file-ppt: unquote('"\\e93c"');
$cpa-icon-file-rar: unquote('"\\e93d"');
$cpa-icon-file-sat: unquote('"\\e93e"');
$cpa-icon-file-sql: unquote('"\\e93f"');
$cpa-icon-file-txt: unquote('"\\e940"');
$cpa-icon-file-xls: unquote('"\\e941"');
$cpa-icon-file-xml: unquote('"\\e942"');
$cpa-icon-file-zip: unquote('"\\e943"');
$cpa-icon-whatsapp: unquote('"\\e944"');
$cpa-icon-sat-estatus: unquote('"\\e947"');
$cpa-icon-cpa-product-change: unquote('"\\e948"');
$cpa-icon-envelope: unquote('"\\e949"');
$cpa-icon-forward-to-inbox: unquote('"\\e94a"');
$cpa-icon-sms: unquote('"\\e94b"');
$cpa-icon-user-circle: unquote('"\\e94c"');
$cpa-icon-user: unquote('"\\e94d"');
$cpa-icon-group: unquote('"\\e94e"');
$cpa-icon-badge: unquote('"\\e94f"');
$cpa-icon-contact-email: unquote('"\\e950"');
$cpa-icon-contacts: unquote('"\\e951"');
$cpa-icon-list: unquote('"\\e952"');
$cpa-icon-edit-note: unquote('"\\e953"');
$cpa-icon-pencil: unquote('"\\e954"');
$cpa-icon-preview: unquote('"\\e955"');
$cpa-icon-visibility: unquote('"\\e956"');
$cpa-icon-print: unquote('"\\e957"');
$cpa-icon-settings: unquote('"\\e958"');
$cpa-icon-settings-applications: unquote('"\\e959"');
$cpa-icon-top-panel-open: unquote('"\\e95a"');
$cpa-icon-circle: unquote('"\\e95b"');
$cpa-icon-cloud-download: unquote('"\\e95c"');
$cpa-icon-cloud-off: unquote('"\\e95d"');
$cpa-icon-cloud-upload: unquote('"\\e95e"');
$cpa-icon-dashboard: unquote('"\\e95f"');
$cpa-icon-pay: unquote('"\\e960"');
$cpa-icon-news: unquote('"\\e961"');
$cpa-icon-keys: unquote('"\\e962"');
$cpa-icon-dev-outline: unquote('"\\e963"');
$cpa-icon-dev-filled: unquote('"\\e964"');
$cpa-icon-call: unquote('"\\e965"');
$cpa-icon-exit: unquote('"\\e966"');
$cpa-icon-like: unquote('"\\e967"');
$cpa-icon-delete: unquote('"\\e968"');
$cpa-icon-delete-2: unquote('"\\e969"');
$cpa-icon-check: unquote('"\\e96a"');
$cpa-icon-check-circle: unquote('"\\e96b"');
$cpa-icon-check-circle-outline: unquote('"\\e96c"');
$cpa-icon-add-task: unquote('"\\e96d"');
$cpa-icon-cancel-circle-filled: unquote('"\\e96e"');
$cpa-icon-x-circle: unquote('"\\e96f"');
$cpa-icon-x-square: unquote('"\\e970"');
$cpa-icon-minus-circle1: unquote('"\\e971"');
$cpa-icon-forbidden: unquote('"\\e972"');
$cpa-icon-disabled-visible: unquote('"\\e973"');
$cpa-icon-add-circle: unquote('"\\e974"');
$cpa-icon-report: unquote('"\\e975"');
$cpa-icon-warning-amber: unquote('"\\e976"');
$cpa-icon-exclamation-circle-filled: unquote('"\\e977"');
$cpa-icon-info: unquote('"\\e978"');
$cpa-icon-pending: unquote('"\\e979"');
$cpa-icon-help: unquote('"\\e97a"');
$cpa-icon-notification: unquote('"\\e97b"');

