extends ../../layouts/file.pug
include ../../mixins/page.pug

block content 
  +page('letter')
    table
      tr
        td 
          .small-bolder.mb-2.text-primary.text-uppercase / Folio
          .px-2
            h3 COVE2476327B5
            table 
              tr
                td Fecha
                td :
                td 2024-11-27 T13:08:46
              tr 
                td Tipo de Comprobante
                td :
                td Ingreso
              tr 
                td Lugar de Expedición
                td :
                td 88240
        td
          h1.text-end.text-primary Comprobante Fiscal <span class="text-nowrap">Digital por Internet</span> CFDI
    table
      tr

    table
      tr

    table
      tr

    table
      tr

