extends ../../layouts/file.pug
include ../../mixins/page.pug

block content 
  +page('custom')
    div(style="width:100%; height:30px;")
    table.mb-4
      tr
        td(style="width: 35%;")
          .small-bolder.mb-2.text-primary.text-uppercase / Folio
          .px-2
            h2 COVE2476327B5
            table 
              tr
                th Fecha
                td :
                td 2024-11-27 T13:08:46
              tr 
                th Tipo de Comprobante
                td :
                td Ingreso
              tr 
                th Lugar de Expedición
                td :
                td 88240
        td(style="width: 10%;")
        td(style="width: 55%;")
          h1.text-end.text-primary.m-0.text-uppercase
            span.text-nowrap Comprobante Fiscal
            br
            span.text-nowrap Digital por Internet
            br
            span CFDI
    table.align-top.mb-5
      tr
        td(style="width: 30%;")
          .small-bolder.mb-2.text-primary.text-uppercase / Emisor
          .px-2
            h3 AUTOZONE TEXAS, LLC
            table 
              tr
                th RFC
                td :
                td ZCO980914I98
              tr 
                th Régimen Fiscal
                td :
                td 601
        td(style="width: 20%;")
        td(style="width: 30%;") 
          .small-bolder.mb-2.text-primary.text-uppercase / Receptor
          .px-2
            h3 Zone Compra S. de R.L. de C.V.
            table 
              tr
                th RFC
                td :
                td ZCO980914I98
              tr 
                th Régimen Fiscal
                td :
                td 601
              tr 
                th Domicilio Fiscal
                td :
                td 88240
              tr 
                th Uso CFDI 
                td :
                td G01
        td(style="width: 5%;")

    table.table.table-striped.mb-4
      thead 
        tr.text-uppercase 
          th.gray-1.position-relative
            span.triangle.triangle-white
            | Descripción
          th.gray-2.position-relative
            span.triangle.triangle-gray-1
            | Cantidad
          th.gray-3.position-relative 
            span.triangle.triangle-gray-2
            | Valor Unitario
          th.gray-4.position-relative
            span.triangle.triangle-gray-3
            | Importe
            span.triangle.triangle-end.triangle-gray-4
      tbody 
        tr 
          td.text-uppercase Aditivo para Motor
          td.text-end 132.00
          td.text-end $ 4.170000
          td.text-end $ 550.4400
        tr 
          td.text-uppercase Aditivo para Aceite
          td.text-end 144.000
          td.text-end $ 8.800000
          td.text-end $ 1,267.2000
        tr 
          td.text-uppercase Preparaciones Lubricantes
          td.text-end 24.000
          td.text-end $ 6.590000
          td.text-end $ 158.1600
        tr 
          td.text-uppercase Aditivos para Gasolina
          td.text-end 328.000
          td.text-end $ 20.110000
          td.text-end $ 6596.0800
    table
      tr
        td(style="width:30%")
        td(style="width:30%")
        td
          .ms-auto
            table.mb-2 
              tr 
                td: h3 Total
                td(style="width: 40%")
                td.text-center.text-bg-primary.py-1.px-4.display-5.position-relative
                  span.triangle.triangle-white
                  | $74,617.84
                  span.triangle.triangle-end.triangle-primary
            table
              tr 
                td(style="width: 50%"): h4 Moneda
                td(style="width: 12%").text-end :
                td(style="width: 38%") USD

    table
      tr
        td.align-middle(style="width: 40%")
          .small-bolder.mb-2.text-primary.text-uppercase / Timbre Fiscal Digital
          .px-2
            h3 ZONE COMPRA S. DE R.L. DE C.V.
            table 
              tr
                th(style="width: 40%") UUID
                td(style="width: 4%") :
                td(style="width: 56%") EJEMPLO-1234-5678-9101
              tr
                th Fecha Timbrado
                td :
                td 2024-11-27T13:09:00
              tr.align-bottom
                th RFC Proveedor Certificado
                td :
                td AAA010101AAA
        td(style="width: 60%")
    .pagination    
      span.text-uppercase Pag&nbsp;&nbsp;
      span.pag-actual 1
      | &nbsp;|&nbsp;
      span.pag-total 2
    img.header-img(src="./header.png")
    img.footer-img(src="./bottom.png")
