// CPA 5.3.3
// Bootswatch


// Variables

// Navs

.navbar,
nav {
  &[data-bs-theme="dark"] {
    .nav-link.active {
      background: $gray-50;
      border-radius: $btn-border-radius;
    }
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.alert {
  border-left-width: .25rem;
}

// Containers

.modal,
.toast,
.offcanvas {
  .btn-close {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$black}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"));
  }
}

.input-group,
.btn-group-vertical {
  .btn {
    --bs-btn-border-radius: var(--bs-border-radius);
  }
}

.nav-underline {
  border-bottom: 1px solid $gray-300;
}

.panel {
  &.open {
    width: 300px;
  }

  .toggle-panel {
    margin-right: -7px;
    top: 40px;
    line-height: 1;
    cursor: pointer;
  }

  .menu {
    .nav-link.active {
      background-color: $white;
      color: $dark;
      border-radius: var(--bs-border-radius-pill);
      padding: 1rem;
      margin: -1rem;
    }
  }
}