extends ../layouts/page.pug
include ../mixins/panel.pug
include ../mixins/modal.pug

prepend vars
  - title = 'Ingresos por Empresa'
  - 
    breadcrumbLinks = [
      ['#', 'Inicio'],
      ['#', 'Ingresos']
    ];

block content
  +panel('Resumen Ingresos por Empresa', breadcrumbLinks, 'Ingresos por Empresa')
    .table-header
      .row.align-items-end.gap-2
        .col.col-auto
          include ../layouts/table-filters-in-emp.pug
        .ms-auto.table-actions.hstack.align-items-end.gap-2.col-12.col-md-auto
          include ../layouts/table-actions-in-emp.pug
    .table-element
      .w-100.mt-4#table-ingresos-empresa-tbtr
      template#table-ingresos-empresa-vanilla
        .table-responsive.mt-4
          table.table.table-striped.table-hover#table-ingresos-empresa
            include ../layouts/table-header-ingresos-empresa.pug
            tbody.text-end.align-middle
              tr
                td.month.text-start(data-value='6') Junio
                td.border-table-start(data-value='1557760')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='6') 1,557,760
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='6') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='6') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='6') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='100')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='6') 100.00
                td.descuentos-ingresos-cell(data-value='1')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='6') 1.00
                td.notas-credito-cell(data-value-nc-publico-gral='4' data-value-nc-aplicacion-ant='3' data-value-nc-con-uuid-rel='2' data-value-nc-sin-uuid-rel='1')
                  button.btn.btn-link.p-0.notas-credito(data-id='6') 2.00
                td.descuentos-notas-cred-cell(data-value='3')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='6') 3.00
                td.border-table-end.cancelaciones-cell(data-value='10')
                  button.btn.btn-link.p-0.cancelaciones(data-id='6') 10.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='6') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='6') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='6') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='6') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='6')
                    i.material-symbols-outlined.icon-link sticky_note_2
              tr
                td.month.text-start(data-value='5') Mayo
                td.border-table-start(data-value='5571362')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='5') 5,571,362
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='5') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='5') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='5') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='100')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='5') 100.00
                td.descuentos-ingresos-cell(data-value='1')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='5') 1.00
                td.notas-credito-cell(data-value-nc-publico-gral='1' data-value-nc-aplicacion-ant='2' data-value-nc-con-uuid-rel='3' data-value-nc-sin-uuid-rel='4')
                  button.btn.btn-link.p-0.notas-credito(data-id='5') 2.00
                td.descuentos-notas-cred-cell(data-value='3')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='5') 3.00
                td.border-table-end.cancelaciones-cell(data-value='10')
                  button.btn.btn-link.p-0.cancelaciones(data-id='5') 10.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='5') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='5') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='5') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='5') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='5')
                    i.material-symbols-outlined.icon-link sticky_note_2
              tr
                td.month.text-start(data-value='4') Abril
                td.border-table-start(data-value='5228741')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='4') 5,228,741
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='4') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='4') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='4') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='4') 0.00
                td.descuentos-ingresos-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='4') 0.00
                td.notas-credito-cell(data-value-nc-publico-gral='0' data-value-nc-aplicacion-ant='0' data-value-nc-con-uuid-rel='0' data-value-nc-sin-uuid-rel='0')
                  button.btn.btn-link.p-0.notas-credito(data-id='4') 0.00
                td.descuentos-notas-cred-cell(data-value='0')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='4') 0.00
                td.border-table-end.cancelaciones-cell(data-value='0')
                  button.btn.btn-link.p-0.cancelaciones(data-id='4') 0.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='4') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='4') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='4') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='4') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='4')
                    i.material-symbols-outlined.icon-link sticky_note_2
              tr
                td.month.text-start(data-value='3') Marzo
                td.border-table-start(data-value='5200188')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='3') 5,200,188
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='3') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='3') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='3') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='3') 0.00
                td.descuentos-ingresos-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='3') 0.00
                td.notas-credito-cell(data-value-nc-publico-gral='0' data-value-nc-aplicacion-ant='0' data-value-nc-con-uuid-rel='0' data-value-nc-sin-uuid-rel='0')
                  button.btn.btn-link.p-0.notas-credito(data-id='3') 0.00
                td.descuentos-notas-cred-cell(data-value='0')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='3') 0.00
                td.border-table-end.cancelaciones-cell(data-value='0')
                  button.btn.btn-link.p-0.cancelaciones(data-id='3') 0.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='3') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='3') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='3') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='3') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='3')
                    i.material-symbols-outlined.icon-link sticky_note_2
              tr
                td.month.text-start(data-value='2') Febrero
                td.border-table-start(data-value='4515072')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='2') 4,515,072
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='2') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='2') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='2') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='2') 0.00
                td.descuentos-ingresos-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='2') 0.00
                td.notas-credito-cell(data-value-nc-publico-gral='0' data-value-nc-aplicacion-ant='0' data-value-nc-con-uuid-rel='0' data-value-nc-sin-uuid-rel='0')
                  button.btn.btn-link.p-0.notas-credito(data-id='2') 0.00
                td.descuentos-notas-cred-cell(data-value='0')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='2') 0.00
                td.border-table-end.cancelaciones-cell(data-value='0')
                  button.btn.btn-link.p-0.cancelaciones(data-id='2') 0.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='2') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='2') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='2') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='2') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='2')
                    i.material-symbols-outlined.icon-link sticky_note_2
              tr
                td.month.text-start(data-value='1') Enero
                td.border-table-start(data-value='2616861')
                  button.btn.btn-link.p-0.cfdis-ingresos-vigentes(data-id='1') 2,616,861
                td(data-value='126') 126
                td.border-table-end(data-value='108')
                  button.btn.btn-outline-success.btn-sm.rounded.py-0.px-2.cfdis-cancelados(data-id='1') 108
                td.border-table-start(data-value='1')
                  button.btn.btn-link.p-0.cfdis-adicionados(data-id='1') 1
                td.border-table-end(data-value='1')
                  button.btn.btn-link.p-0.cfdis-disminuidos(data-id='1') 1
                td.border-table-start.ingresos-cfdis-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.ingresos-cfdis(data-id='1') 0.00
                td.descuentos-ingresos-cell(data-value='0')
                  button.btn.btn-sm.btn-outline-success.py-0.px-2.rounded.descuentos-ingresos(data-id='1') 0.00
                td.notas-credito-cell(data-value-nc-publico-gral='0' data-value-nc-aplicacion-ant='0' data-value-nc-con-uuid-rel='0' data-value-nc-sin-uuid-rel='0')
                  button.btn.btn-link.p-0.notas-credito(data-id='1') 0.00
                td.descuentos-notas-cred-cell(data-value='0')
                  button.btn.btn-link.p-0.descuentos-notas-cred(data-id='1') 0.00
                td.border-table-end.cancelaciones-cell(data-value='0')
                  button.btn.btn-link.p-0.cancelaciones(data-id='1') 0.00
                td.total-ingresos-cell(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-fac(data-id='1') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-nominales-disminuir(data-id='1') 0.00
                td(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.respond-ingresos-nominales-dec(data-id='1') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td(data-value='0')
                  button.btn.btn-link.p-0.ingresos-registrados(data-id='1') 0.00
                td.border-table-start(data-value='0') 0.00
                td.border-table-end(data-value='0') 0.00
                td.text-center(data-value='0')
                  button.btn.btn-sm.btn-link.p-0.link-note(data-id='1')
                    i.material-symbols-outlined.icon-link sticky_note_2
            tfoot 
              tr
              tr#totals.fw-bold.border-top.border-bottom.border-danger.text-end
                td.text-end.text-uppercase(data-value='0')
                  b Total
                td.border-table-start(data-value='0') 0
                td(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td.border-table-start(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td.border-table-start(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td.border-table-start(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td(data-value='0') 0
                td.border-table-start(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td(data-value='0') 0
                td.border-table-start(data-value='0') 0
                td.border-table-end(data-value='0') 0
                td(data-value='0')

    .table-footer 
      .row.mt-2
        .col.col-auto.ms-auto
          .border.rounded.hstack.overflow-hidden
            .text-uppercase.text-nowrap.p-2.bg-white
              i.material-symbols-outlined.me-2.align-middle(style="margin-top:-3px") paid 
              | Ingresos Acumulables Declaración Anual
            .text-bg-primary.p-2.text-end.fs-5(style="min-width:130px; height:37px;")
              | 0.00

block dialogsPage
  - 
    sncmOpts = {
      dialogClasses:'modal-lg',
      title: 'Notas de Crédito',
      btnCancel: {
        icon: 'close',
        label:'Cerrar'
      },
      btnContinue: {
        icon: 'check',
        label: 'Aplicar',
        type: 'submit',
        dismiss: true,
        form: 'notas-credito-form'
      },
    };
  +modal('selector-notas-credito-modal', sncmOpts)
    form#notas-credito-form
      table.table.table-striped.table-hover
        thead
          tr.text-uppercase.text-center
            th
              input.form-check-input#nc-toggle-all(type='checkbox' value='nc-toggle-all')
            th Tipo
            th No. CFDI's
            th Importe
        tbody
          tr
            td.text-center
              input.form-check-input#nc-publico-gral(type='checkbox' value='nc-publico-gral')
            td CFDI's Tipo E Público en General
            td.text-end 552,283
            td.text-end 3,130,102,893.03
          tr
            td.text-center
              input.form-check-input#nc-aplicacion-ant(type='checkbox' value='nc-aplicacion-ant')
            td CFDI's Tipo E Crédito por Aplicación de Anticipos
            td.text-end 0
            td.text-end 0.00
          tr
            td.text-center
              input.form-check-input#nc-con-uuid-rel(type='checkbox' value='nc-con-uuid-rel')
            td CFDI's Tipo E Crédito con UUID Relacionado
            td.text-end 16,165
            td.text-end 60,469,361.53
          tr
            td.text-center
              input.form-check-input#nc-sin-uuid-rel(type='checkbox' value='nc-sin-uuid-rel')
            td CFDI's Tipo E sin UUID Relacionado
            td.text-end 1
            td.text-end 825.01
        tfoot 
          tr
          tr#totals-nc.fw-bold.border-top.border-bottom.border-danger.text-end
            td
            td.text-end Total
            td(data-value='568449') 568,449
            td(data-value='3190573079.57') 3,190,573,079.57

  - 
    dmmOpts = {
      dialogClasses:'modal-xl',
      title: 'Declaraciones mensuales &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; Ejercicio: <span id="ejercicio-selected">2024</span>'
    };
  +modal('declaraciones-mensuales-modal', dmmOpts)
    .table-responsive
      table.table.table-striped
        thead.text-uppercase.text-center
          tr.text-bg-dark
            th.text-bg-white(rowspan='2' style='min-width: 140px;') Empresa
            th.text-bg-dark(colspan='2') Enero
            th.text-bg-dark(colspan='2') Febrero
            th.text-bg-dark(colspan='2') Marzo
            th.text-bg-dark(colspan='2') Abril
            th.text-bg-dark(colspan='2') Mayo
            th.text-bg-dark(colspan='2') Junio
            th.text-bg-dark(colspan='2') Julio
            th.text-bg-dark(colspan='2') Agosto
            th.text-bg-dark(colspan='2') Septiembre
            th.text-bg-dark(colspan='2') Octubre
            th.text-bg-dark(colspan='2') Noviembre
            th.text-bg-dark(colspan='2') Diciembre
          tr
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
            th N
            th C
        tbody.text-center
          tr
            td.text-start 11641 - CPA VISION SAPI DE CV
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-primary remove
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-danger close
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-danger close
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
            td.mes-n
              i.material-symbols-outlined.text-success check
            td.mes-c
              i.material-symbols-outlined.text-success check
    .row.gx-0.gy-2
      .col.col-12.col-lg-6
        .accordion#complementaria-accordion
          .accordion-item.rounded-0
            h2.accordion-header.bg-light.text-primary.border-bottom
              button.btn.btn-link.link-primary.w-100.rounded-0.text-start.text-decoration-none.fs-4.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#complementaria-collapse' aria-expanded='true' aria-controls='complementaria-collapse')
                i.material-symbols-outlined.align-text-top.up expand_circle_up
                i.material-symbols-outlined.align-text-top.down expand_circle_down
                | Declaración complementaria

            #complementaria-collapse.accordion-collapse.collapse(data-bs-parent='#complementaria-accordion')
              .accordion-body.p-2
                .text-success.mb-0.fw-bolder
                  span.text-uppercase Periodo: 
                  span.periodo-selected Enero
                .table-responsive
                  table.table.table-striped.table-hover
                    thead.text-uppercase.text-center
                      tr
                        th Operación
                        th Presentación
                        th Declaración
                        th acuse
                        th pago
                    tbody.text-center.align-middle
                      tr
                        td 240410356999
                        td 09/12/2024
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
      .col.col-12.col-lg-6
        .accordion#normal-accordion
          .accordion-item.rounded-0
            h2.accordion-header.bg-light.text-primary.border-bottom
              button.btn.btn-link.link-primary.w-100.rounded-0.text-start.text-decoration-none.fs-4.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#normal-collapse' aria-expanded='true' aria-controls='normal-collapse')
                i.material-symbols-outlined.align-text-top.up expand_circle_up
                i.material-symbols-outlined.align-text-top.down expand_circle_down
                | Declaración normal

            #normal-collapse.accordion-collapse.collapse(data-bs-parent='#normal-accordion')
              .accordion-body.p-2
                .text-success.mb-0.fw-bolder
                  span.text-uppercase Periodo: 
                  span.periodo-selected Enero
                .table-responsive
                  table.table.table-striped.table-hover
                    thead.text-uppercase.text-center
                      tr
                        th Operación
                        th Presentación
                        th Declaración
                        th acuse
                        th pago
                    tbody.text-center.align-middle
                      tr
                        td 240410356999
                        td 09/12/2024
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                      tr
                        td 240410356999
                        td 09/12/2024
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf
                        td
                          a.link-pdf.text-decoration-none.fs-1(href='#')
                            i.cpa-file-pdf

block footerPage
  script(src='/assets/js/globals.js')
  script(src='/assets/js/drag-sort.js')
  script(src='/assets/js/cols-selector.js')
  script(src='/assets/js/ingresos-empresa.js')